In [2]:
%pip install geopy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: geopy in /Users/bykwon/Library/Python/3.9/lib/python/site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /Users/bykwon/Library/Python/3.9/lib/python/site-packages (from geopy) (2.0)
WARNING: You are using pip version 21.2.4; however, version 23.0.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd
import geopy

In [4]:
from geopy.geocoders import Nominatim

In [5]:
life4cut = pd.read_csv("life4cut.csv")

In [6]:
life4cut.head()

                   도로명주소
0      서울특별시 은평구 진관3로 33
1  서울특별시 강서구 마곡중앙로 161-1
2     서울특별시 은평구 연서로29길 8
3     서울특별시 강서구 공항대로 261
4    서울특별시 강서구 강서로56길 17

In [7]:
from geopy.geocoders import Nominatim
geo_local = Nominatim(user_agent='South Korea')

# 위도, 경도 반환하는 함수
def geocoding(address):
    try:
        geo = geo_local.geocode(address)
        x_y = [geo.latitude, geo.longitude]
        return x_y

    except:
        return [0,0]

In [8]:
latitude = []
longitude =[]

for i in life4cut['도로명주소']:
    latitude.append(geocoding(i)[0])
    longitude.append(geocoding(i)[1])

In [9]:
for i in range(len(latitude)):
    print(latitude[i], longitude[i], "\n")

37.6418377 126.9216295

37.5631274 126.8273842

37.6203064 126.917492

37.5612563 126.8124407

37.5596199 126.838934

37.5416837 126.8382181

37.5789414 126.9081221

37.5562777 126.9047718

37.5597576 126.9256008

37.529776 126.8787008

37.5239562 126.8504667

37.556081649999996 126.92343005000001

37.5137896 126.8269819

37.555495199999996 126.92288334712323

37.5550626 126.9225099

37.5541323 126.92254332164686

37.54893319999999 126.91578274136188

37.55231385 126.9214327696806

37.5593255 126.9369117

37.5585949 126.9385832

37.5765003 126.9733279

37.5133686 126.8936677

37.5789994 126.9849297779661

37.5794132 126.983705

37.5176791 126.9074442

37.5744391 126.9837145

37.5742483 126.9846331

37.6396367 127.0264574

37.502715 126.8800694

37.61800815 127.019013326551

37.5733099 126.9907579

37.5733099 126.9907579

37.5832293 126.9999887

37.5446304 126.9692933

37.5898438 127.0189176

37.4859206 126.8925114

37.5676735 127.0084005

37.5119431 126.9438606

37.5378533 126.9888247

37.4831573 126.8997762

0 0

37.4769457 126.8888314

37.4757835 126.8806032

37.6554281 127.0627368

37.5344928 126.9944907

37.4846936 126.9376624

37.5900593 127.057953

37.56519 127.04172

37.4777259 126.9552387

37.54622005 127.04378578902453

37.54660305 127.04365949999999

37.4880387 126.9788152

37.5200487 127.0223078

37.5263203 127.0374845

37.5030185 127.0267428

37.5009711 127.02507495

37.5027424 127.027595

37.54006 127.09724

37.5418162 127.0705566

37.5118203 127.0591391

37.5093693 127.0570895

37.5257607 127.0399898

37.4986054 127.06143261150706

0 0

37.5112465 127.080533

37.4892527 127.0678147

37.51110405 127.09823334105309

37.51110405 127.09823334105309

37.5477805 127.1754502

37.5152489 127.1074144

37.53898 127.12746

37.51035915 127.11024044765904

37.5096896 127.1099965

37.50071 127.1121887

37.5547286 127.1364591

37.4797839 127.12634440498388

37.4775778 127.1249983

In [10]:
life4cut['위도'] = 0
life4cut['경도'] = 0

In [11]:
for i in range(len(latitude)):
    life4cut['위도'][i] = latitude[i]
    life4cut['경도'][i] = longitude[i]

/var/folders/69/8s69_kvj7kq7ycwr88hh27zh0000gn/T/ipykernel_29710/283802614.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  life4cut['위도'][i] = latitude[i]
/var/folders/69/8s69_kvj7kq7ycwr88hh27zh0000gn/T/ipykernel_29710/283802614.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  life4cut['경도'][i] = longitude[i]

In [12]:
life4cut

                    도로명주소         위도          경도
0       서울특별시 은평구 진관3로 33  37.641838  126.921629
1   서울특별시 강서구 마곡중앙로 161-1  37.563127  126.827384
2      서울특별시 은평구 연서로29길 8  37.620306  126.917492
3      서울특별시 강서구 공항대로 261  37.561256  126.812441
4     서울특별시 강서구 강서로56길 17  37.559620  126.838934
..                    ...        ...         ...
72  서울특별시 송파구 백제고분로45길 14  37.509690  127.109996
73    서울특별시 송파구 송파대로38길 9  37.500710  127.112189
74      서울특별시 강동구 고덕로 266  37.554729  127.136459
75        서울 송파구 충민로 81-1  37.479784  127.126344
76       서울특별시 송파구 충민로 66  37.477578  127.124998

[77 rows x 3 columns]

In [13]:
life4cut.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도로명주소   77 non-null     object
 1   위도      77 non-null     float64
 2   경도      77 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.9+ KB

In [14]:
dup_lat = life4cut.duplicated(subset=["위도"])
dup_long = life4cut.duplicated(subset=["경도"])

In [15]:
life4cut.loc[dup_lat, :]

                     도로명주소         위도          경도
31  서울특별시 종로구 수표로28길 17-34  37.573310  126.990758
63     서울시 송파구 백제고분로 7길 24   0.000000    0.000000
67      서울특별시 송파구 올림픽로 240  37.511104  127.098233

In [16]:
life4cut.loc[dup_long, :]

                     도로명주소         위도          경도
31  서울특별시 종로구 수표로28길 17-34  37.573310  126.990758
63     서울시 송파구 백제고분로 7길 24   0.000000    0.000000
67      서울특별시 송파구 올림픽로 240  37.511104  127.098233